@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Poppins', sans-serif;
}

.vertical-centre {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

a, .btn {
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
}

a:hover {
    text-decoration: none;
}

.btn {
    font-weight: 600;
}

.btn-primary {
    color: #fff;
    background-color: #2b376b;
    border-color: #2b376b;
}

.btn-primary:hover {
    background-color: #1b2550;
    border-color: #1b2550;
}

.btn-outline-primary {
    color: #2b376b;
    background-color: transparent;
    border-color: #2b376b;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #2b376b;
    border-color: #2b376b;
}